
@media only screen and (max-width: 768px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .section2 .managers, .section2 .managers:nth-of-type(2){
        float: none;
        margin: 26px auto 33px;
    }

    .owl-carousel {
        width: 90%;
    }

    footer .info, footer .bottom{
        padding-left: 10px;
        padding-right: 10px;
    }

    footer .about{
        margin-right: 75px;
    }

    #dialog p:first-child{
        float: none;
        text-align: center;
    }

    #dialog form input{
        float: none;
        width: 100%;
    }

    #dialog form button, #dialog a{
        width: 100%;
    }

    #dialog span{
        display: inline;
    }

}

@media only screen and (max-width: 760px){
    .navBurger{
        display: block;
    }

    .mobile_menu li a{
        font-size: 24px;
    }

    .desktop_menu{
        display: none;
    }

}

@media only screen and (max-width: 415px){
    footer .block, footer form{
        float: none;
    }

    footer h4{
        padding-top: 22px;
        text-align: center;
    }

    footer .about, footer .contact, footer form{
        max-width: 100%;
    }

    footer .about{
        margin-right: 0;
    }

    .owl-carousel .owl-nav{
        display: none;
    }

    .ui-dialog .ui-dialog-content{
        padding-right: 5px;
        padding-left: 5px;
    }
}
