@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff'),
    url('../fonts/OpenSansRegular.ttf') format('truetype'),
    url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'RalewaySemiBold';
    src: url('../fonts/RalewaySemiBold.eot');
    src: url('../fonts/RalewaySemiBold.eot') format('embedded-opentype'),
    url('../fonts/RalewaySemiBold.woff2') format('woff2'),
    url('../fonts/RalewaySemiBold.woff') format('woff'),
    url('../fonts/RalewaySemiBold.ttf') format('truetype'),
    url('../fonts/RalewaySemiBold.svg#RalewaySemiBold') format('svg');
}

@font-face {
    font-family: 'RalewayMedium';
    src: url('../fonts/RalewayMedium.eot');
    src: url('../fonts/RalewayMedium.eot') format('embedded-opentype'),
    url('../fonts/RalewayMedium.woff2') format('woff2'),
    url('../fonts/RalewayMedium.woff') format('woff'),
    url('../fonts/RalewayMedium.ttf') format('truetype'),
    url('../fonts/RalewayMedium.svg#RalewayMedium') format('svg');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/RalewayBold.eot');
    src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),
    url('../fonts/RalewayBold.woff2') format('woff2'),
    url('../fonts/RalewayBold.woff') format('woff'),
    url('../fonts/RalewayBold.ttf') format('truetype'),
    url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
    url('../fonts/OpenSansLight.woff2') format('woff2'),
    url('../fonts/OpenSansLight.woff') format('woff'),
    url('../fonts/OpenSansLight.ttf') format('truetype'),
    url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSansSemibold.eot');
    src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
    url('../fonts/OpenSansSemibold.woff2') format('woff2'),
    url('../fonts/OpenSansSemibold.woff') format('woff'),
    url('../fonts/OpenSansSemibold.ttf') format('truetype'),
    url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
    font-family: 'NowMedium';
    src: url('../fonts/NowMedium.eot');
    src: url('../fonts/NowMedium.eot') format('embedded-opentype'),
    url('../fonts/NowMedium.woff2') format('woff2'),
    url('../fonts/NowMedium.woff') format('woff'),
    url('../fonts/NowMedium.ttf') format('truetype'),
    url('../fonts/NowMedium.svg#NowMedium') format('svg');
}

@font-face {
    font-family: 'NowBold';
    src: url('../fonts/NowBold.eot');
    src: url('../fonts/NowBold.eot') format('embedded-opentype'),
    url('../fonts/NowBold.woff2') format('woff2'),
    url('../fonts/NowBold.woff') format('woff'),
    url('../fonts/NowBold.ttf') format('truetype'),
    url('../fonts/NowBold.svg#NowBold') format('svg');
}


* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
}

header{
    background-color: #24282f;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container{
    max-width: 1099px;
    margin: auto;
}

.container:after, .section2:after, .managers:after, .bottom:after, .blocks_holder:after{
    content: "";
    clear: both;
    display: block;
}

header .logo{
    float: left;
    margin-left: 6px;
}

header .logo img{
     width: 100%;
 }

header nav ul{
    float: right;
}

header nav ul li{
    display: inline-block;
    margin-left: 30px;
}

header nav ul li a{
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0 10px 33px;
    border-bottom: 2px solid transparent;
    font-family: 'OpenSansRegular';
}

header nav ul li a:hover{
    border-bottom: 2px solid #b5a263;
}

.banner{
    background-image: url(../images/banner.png);
    padding-top: 70px;
    padding-bottom: 82px;
}

h1{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 31px;
    margin-bottom: 17px;
    font-family: 'RalewayBold';
}

.container p{
    color: white;
    font-family: 'OpenSansRegular';
    font-size: 11px;

}

.section2{
    max-width: 889px;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 25px;
    text-align: center;
}

.section2 h2, .section3 h2{
    color: #24282f;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'RalewaySemiBold';
}

.section2 h2:after{
    content: "";
    height: 2px;
    width: 61px;
    background-color: #b5a263;
    display: block;
    margin: auto;
    margin-top: 24px;
}

.section2 .managers{
    max-width: 247px;
    float: left;
    margin-bottom: 33px;
    margin-top: 26px;
}

.section2 .managers:nth-of-type(2){
    margin: 26px 74px 33px 74px;
}

.section2 .managers img{
    margin-bottom: 23px;
    width: 100%;
}
.section2 .name{
    float: left;
    text-align: left;
}

.name h3{
    color: #232323;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'RalewayMedium';
}

.name span{
    color: #b5a263;
    font-size: 11px;
    text-transform: capitalize;
    font-family: 'OpenSansRegular';
}

.section2 .socials{
    float: right;
    padding-top: 5px;
}

.socials a{
    display: inline-block;
    width: 27px;
    background-color: #dedede;
    border-radius: 13px;
    text-align: center;
}

.socials i{
    color: #ffffff;
    font-size: 12px;
    line-height: 27px;
}

.socials a:nth-child(2){
    margin-left: 5px;
    margin-right: 5px;
}

.section2 .button{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    color: #24282f;
    border: solid #24282f 1px;
    text-decoration: none;
    line-height: 39px;
    min-width: 130px;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.section3{
    background-color: #f7f7f7;
    padding-top: 93px;
    padding-bottom: 91px;
    position: relative;
}

.section3 h2:after{
    content: "";
    height: 2px;
    width: 61px;
    background-color: #24282f;
    display: block;
    margin: auto;
    margin-top: 24px;
}

.owl-carousel{
    max-width: 861px;
    margin: auto;
}

.carousel{
    max-width: 706px;
    margin: auto;
    padding-top: 51px;
    text-align: center;
}

.owl-carousel .owl-item img{
    width: auto;
    margin: auto;
    padding-bottom: 31px;
}

.carousel p{
    font-size: 11px;
    line-height: 19px;
    padding-bottom: 35px;
    font-family: 'OpenSansLight';
}

.carousel h3{
    color: #b5a263;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 11px;
    font-family: 'OpenSansSemibold';
}

.carousel span{
    font-size: 11px;
    font-family: 'OpenSansRegular';
    text-transform: capitalize;
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled{
    display: block;
}

.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: -14px;
    top: 99px;
}

.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: -14px;
    top: 99px;
}

footer{
    background-color: #24282f;

}

.info{
    background-color: #2b2f35;
    border: 1px solid #8b8d90;
}

.blocks_holder{
    margin: auto;
    max-width: 889px;
    padding-top: 60px;
    padding-bottom: 35px;
}

footer .block{
    float: left;
}

footer h4{
    text-transform: uppercase;
    color: #b5a263;
    font-size: 11px;
    font-family: 'OpenSansRegular';
    padding-bottom: 22px;
}

footer .block p{
    color: #6e7279;
    font-size: 11px;
    font-family: 'OpenSansRegular';
}

footer form{
    float: right;
}

footer .about{
    max-width: 231px;
    margin-right: 138px;
}

footer .contact{
    max-width: 184px;
}

footer .contact p:first-of-type{
    padding-bottom: 20px;
}

footer form{
    max-width: 236px;
}

footer form input{
    width: 100%;
    line-height: 29px;
    padding-left: 8px;
    box-sizing: border-box;
    border: 1px solid #61656b;
    background-color: transparent;
    margin-bottom: 9px;
    font-size: 11px;
    color: #6e7279;
    font-family: 'OpenSansRegular';
}

footer form button{
    width: 100%;
    background-color: #b5a263;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 11px;
    font-family: 'OpenSansRegular';
    border: none;
    line-height: 29px;
}

footer .bottom{
    padding-top: 13px;
    padding-bottom: 12px;
    max-width: 889px;
    margin: auto;
}

footer .bottom p{
    float: left;
    color: #6e7279;
    font-size: 9px;
    padding-top: 10px;
    font-family: 'OpenSansRegular'
}

footer .bottom a{
    float: right;
    border: 1px solid #6e7279;
    color: #6e7279;
    text-align: center;
    width: 27px;
    line-height: 27px;
    border-radius: 14px;
    font-size: 12px;
    margin-left: 9px;
}

footer .bottom a:hover{
    color: #ffffff;
    background-color: #b5a263;
    border-color: #b5a263;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
    width: 75vw !important;
    border: none;
    -webkit-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
}

.ui-dialog .ui-dialog-titlebar{
    padding: 41px 0;
    border: none;
    border-radius: 0;
}

.ui-dialog{
    padding: 0;
}

.ui-widget-header{
    background-color: #000000;
    text-align: -webkit-center;
    text-transform: uppercase;
    color: white;
    font-family: 'NowBold';
}

.ui-dialog .ui-dialog-title{
    width: 100%;
}

.ui-widget .ui-widget{
    display: none;
}

.ui-dialog .ui-dialog-content{
    padding: 40px 92px 166px 84px ;
    text-align: center;
    background-color: #fbfbfb;
}
#dialog p {
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 30px;
    padding-bottom: 30px;
    font-family: 'NowMedium';
}

#dialog p:first-child{
    float: left;
}

#dialog span{
    display: block;
}

#dialog form input{
    width: 384px;
    float: right;
    line-height: 60px;
    display: block;
    border-radius: 2px;
    border: 1px solid #b7b7b7;
    margin-bottom: 33px;
}

#dialog form:after{
    content: "";
    clear: both;
    display: block;
}

#dialog form button{
    display: block;
    margin: auto;
    width: 528px;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #d6d6d6;
    border-radius: 2px;
    border: none;
    margin-bottom: 29px;
    font-family: 'NowBold';
    padding: 21px 0;
}

#dialog a{
    display: block;
    margin: auto;
    width: 528px;
    padding: 21px 0;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #557acb;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'NowBold';

}

#dialog i{
    padding-right: 14px;
}
