@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff'),
    url('../fonts/OpenSansRegular.ttf') format('truetype'),
    url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'RalewaySemiBold';
    src: url('../fonts/RalewaySemiBold.eot');
    src: url('../fonts/RalewaySemiBold.eot') format('embedded-opentype'),
    url('../fonts/RalewaySemiBold.woff2') format('woff2'),
    url('../fonts/RalewaySemiBold.woff') format('woff'),
    url('../fonts/RalewaySemiBold.ttf') format('truetype'),
    url('../fonts/RalewaySemiBold.svg#RalewaySemiBold') format('svg');
}

@font-face {
    font-family: 'RalewayMedium';
    src: url('../fonts/RalewayMedium.eot');
    src: url('../fonts/RalewayMedium.eot') format('embedded-opentype'),
    url('../fonts/RalewayMedium.woff2') format('woff2'),
    url('../fonts/RalewayMedium.woff') format('woff'),
    url('../fonts/RalewayMedium.ttf') format('truetype'),
    url('../fonts/RalewayMedium.svg#RalewayMedium') format('svg');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/RalewayBold.eot');
    src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),
    url('../fonts/RalewayBold.woff2') format('woff2'),
    url('../fonts/RalewayBold.woff') format('woff'),
    url('../fonts/RalewayBold.ttf') format('truetype'),
    url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
}

header{
    background-color: #24282f;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container{
    max-width: 1099px;
    margin: auto;
}

.container:after, .section2:after, .managers:after{
    content: "";
    clear: both;
    display: block;
}

header .logo{
    float: left;
    margin-left: 6px;
}

header .logo img{
     width: 100%;
 }

header nav ul{
    float: right;
}

header nav ul li{
    display: inline-block;
    margin-left: 30px;
}

header nav ul li a{
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0 10px 33px;
    border-bottom: 2px solid transparent;
    font-family: 'OpenSansRegular';
}

header nav ul li a:hover{
    border-bottom: 2px solid #b5a263;
}

.banner{
    background-image: url(../images/banner.png);
    padding-top: 70px;
    padding-bottom: 82px;
}

h1{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 31px;
    margin-bottom: 17px;
    font-family: 'RalewayBold';
}

.container p{
    color: white;
    font-family: 'OpenSansRegular';
    font-size: 11px;

}

.section2{
    max-width: 889px;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 25px;
    text-align: center;
}

.section2 h2{
    color: #24282f;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'RalewaySemiBold';
}

.section2 h2:after{
    content: "";
    height: 2px;
    width: 61px;
    background-color: #b5a263;
    display: block;
    margin: auto;
    margin-top: 24px;
}

.section2 .managers{
    max-width: 247px;
    float: left;
    margin-bottom: 33px;
    margin-top: 26px;
}

.section2 .managers:nth-of-type(2){
    margin: 26px 74px 33px 74px;
}

.section2 .managers img{
    margin-bottom: 23px;
    width: 100%;
}
.section2 .name{
    float: left;
}

.name h3{
    color: #232323;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'RalewayMedium';
}

.name span{
    color: #b5a263;
    font-size: 11px;
    text-transform: capitalize;
    font-family: 'OpenSansRegular';
}

.section2 .socials{
    float: right;
    padding-top: 5px;
}

.socials a{
    display: inline-block;
    width: 27px;
    background-color: #dedede;
    border-radius: 13px;
    text-align: center;
}

.socials i{
    color: #ffffff;
    font-size: 12px;
    line-height: 27px;
}

.socials a:nth-child(2){
    margin-left: 5px;
    margin-right: 5px;
}

.section2 .button{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    color: #24282f;
    border: solid #24282f 1px;
    text-decoration: none;
    line-height: 39px;
    min-width: 130px;
    text-align: center;
    border-radius: 20px;
}